*{margin: 0;padding: 0;box-sizing: border-box;}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FFEACA;
    .center{
        width: 10rem;
        height: 10rem;
        background-color: #FF616D;
        // transform: rotate(45deg);
        position: relative;
        box-shadow: 0px 0px 3px 0px black;
        animation: pruthvi 1.5s linear infinite;
        &::before{
            content: '';
            width: 10rem;
            height: 10rem;
            background-color: #FF616D;
            transform: translateY(-50%);
            position: absolute;
            border-radius: 50%;
            
        }
        &::after{
            content: '';
            width: 10rem;
            height: 10rem;
            background-color: #FF616D;
            transform: translateX(-50%);
            position: absolute;
            border-radius: 50%;
        }

        @keyframes pruthvi {
            0%{transform: scale(1) rotate(45deg)}
            20%{transform: scale(1) rotate(45deg)}
            40%{transform: scale(1.4) rotate(45deg)}
            60%{transform: scale(1.2) rotate(45deg)}
            80%{transform: scale(1.4) rotate(45deg)}
            100%{transform: scale(1) rotate(45deg)}
        }

    }

}
